
@font-face {
  font-family: 'SegoeUISymbol';
  src: url('SegoeUISymbol.eot?#iefix') format('embedded-opentype'),  url('SegoeUISymbol.woff') format('woff'), url('SegoeUISymbol.ttf')  format('truetype'), url('SegoeUISymbol.svg#SegoeUISymbol') format('svg');
  font-weight: normal;
  font-style: normal;
}
